%h1 Log in
.row
  .col-md-6.col-md-offset-3
    = form_for(:session, url: login_path) do |f|
      = f.label :email
      = f.email_field :email
      
      = f.label :password
      = f.password_field :password
      
      = f.submit "Log in", class: "btn btn-primary"
    %p
      Not registered? #{link_to "Sign up now!", signup_path}
