%h1 Sign up
.row
  .col-md-6.col-md-offset-3
    = form_with model: @user, local: true do |f|
      = f.label :name
      = f.text_field :name
      - @user.errors.full_messages_for(:name).each do |message|
        %div= message
    
      = f.label :email
      = f.email_field :email
      - @user.errors.full_messages_for(:email).each do |message|
        %div= message

      = f.label :password
      = f.password_field :password
      - @user.errors.full_messages_for(:password).each do |message|
        %div= message

      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation
      - @user.errors.full_messages_for(:password).each do |message|
        %div= message

      = f.submit "Create my account", class: "btn btn-primary"
