%h1 Update your Poll!
.row
  .col-md-6.col-md-offset-3
    = form_for @poll, local: true do |f|
      = f.label :title
      = f.text_field :title
      - @poll.errors.full_messages_for(:title).each do |message|
        %div= message
    
      = f.label :description
      = f.text_field :description
      - @poll.errors.full_messages_for(:description).each do |message|
        %div= message

      = f.label :start_at
      = f.datetime_field :start_at
      - @poll.errors.full_messages_for(:start_at).each do |message|
        %div= message

      = f.label :end_at
      = f.datetime_field :end_at
      - @poll.errors.full_messages_for(:end_at).each do |message|
        %div= message

      = f.submit "Update my poll", class: "btn btn-primary"