.row
  %aside.col-md-4
    %section.poll_info
      %h1
        = @poll.title
      %p 
        = @poll.description
      %p
        Starts at:
        = @poll.start_at 
      %p
        Ends at:
        = @poll.end_at
      %p
        = link_to "Edit", edit_poll_path, class: 'btn btn-warning'
        = link_to "Delete Poll", @poll, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn.btn-outline-light.me-2'

      %p
        = @poll.invited_users.pluck(:email).join(', ')

      %p Invite users to your poll!

.row
  .col-md-6.col-md-offset-3
    = form_tag('/poll_members') do
      = hidden_field_tag :poll_id, @poll.id
      = label_tag :email, "Email of user"
      = email_field_tag :email, '', placeholder: User.human_attribute_name(:email)
      = submit_tag "invite user", class: "btn btn-primary"