%body
  %header.p-3.bg-dark.text-white
    .container
      = link_to "Fun Poll", root_path, id: "logo"
      .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
        %a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none{:href => "/"}
          %svg.bi.me-2{:height => "32", :width => "40"}
            %use{"xlink:href" => "#bootstrap"}
        %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
          %li
            %a.nav-link.px-2.text-white{:href => "/"} Home
          %li
            %a.nav-link.px-2.text-white{:href => "/about"} About
        .text-end
          - if current_user
            = link_to "List of polls", polls_path, class: 'btn.btn-outline-light.me-2'
            = link_to "New Poll", new_poll_path, class: 'btn.btn-outline-light.me-2'
            = link_to "Logout", logout_path, :method => 'delete', class: 'btn.btn-outline-light.me-2'
          -else
            = link_to "Login", login_path, class: 'btn.btn-outline-light.me-2'
            = link_to "Sign-up", signup_path, class: 'btn btn-warning'
